.tipclose {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  margin-top: -4px;
  margin-right: -2px;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.tipclose:hover,
.tipclose:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.tipclose {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.alert {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

